body{
	margin: 0;
	padding: 0;
	background:  linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(pic10.jpg);
	background-size: cover;
	background-position: center;
	font-family: sans-serif;
}
	
.avatar{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: absolute;
	top: -50px;
	left: calc(50% - 50px);
}
h1{
	margin: 0;
	padding: 0 0 20px;
	text-align: center;
	font-size: 22px;
}

.student-details{
	width: 520px;
		height: 820px;
		background: #000;
		color: #fff;
		top: 50%;
		left: 50%;
		position: absolute;
		transform: translate(-50%,-50%);
		box-sizing: border-box;
		padding: 70px 30px;
}

.student-details p{
	margin: 0;
	padding: 0;
	font-weight: bold;
}

.student-details input{
	width: 100%;
	margin-bottom: 20px;
}

.student-details input[type="text"], input[type="password"]
{
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
}

.student-details input[type="submit"]
{
	border: none;
	outline: none;
	height: 40px;
	background: #fb2525;
	color: #000;
	font-size: 18px;
	border-radius: 20px;
}

.student-details input[type="submit"]:hover
{
	cursor: pointer;
	background: orange;
	color: #000;
}

.student-details button[type="submit"]
{
	border: none;
	outline: none;
	height: 40px;
	width: 460px;
	background: #fb2525;
	color: #fff;
	font-size: 18px;
	border-radius: 20px;
}


.student-details button[type="submit"]:hover
{
	cursor: pointer;
	background: orange;
	color: #000;
}

.student-details button a
{
	text-decoration: none;
	outline: none;
	color: #000;
	font-size: 18px;
}


	