body{
	margin: 0;
	padding: 0;
	background:  linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(pic30.jpg);
	background-size: cover;
	background-position: center;
	font-family: sans-serif;
}

*{
	margin: 0;
	padding: 0;

}

.bgimage{
	background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(pic30.jpg);
	background-size: 100% 110%;
	width: 100%;
	height: 100vh;
}

.menu{
	width: 100%;
	height: 100px;
	background-color: rgba(0,0,0,0.5);
}

.leftmenu{
	width:45%;
	line-height: 100px;
	float: left;
}

.leftmenu h4{
	padding-left: 70px;
	font-weight: bold;
	color: white;
	font-size: 30px;
	font-family: sans-serif;
}

.studentrightmenu{
	width:55%;
	line-height: 100px;
	float: left;
}

.studentrightmenu ul li{
	display: inline-block;
}

.studentrightmenu ul li a{
	text-decoration: none;
	color: #fff;
	padding: 20px 50px;
	font-weight: bold;
	font-size: 20px;
}

.studentrightmenu ul li a:hover{
	color: orange;
}
